.container{
  display: flex;
  justify-content: center;
  .content{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 166px 166px;
    grid-gap: 30px;
    .item{
      padding: 24px;
      background: #FFFFFF;
      box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
      border-radius: 24px;
      .item_title{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #171717;
      }
      .item_description{
        margin-top: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #171717;
      }
      .btn{
        cursor: pointer;
        width: 33%;
        padding: 12.5px 24px;
        margin-top: 24px;
        background: rgba(143, 146, 161, 0.1);
        border-radius: 16px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #171717;
        &:hover{
          opacity: .6;
        }
      }
    }
  }
}