.container{
  background: rgba(143, 146, 161, 0.05);
  border-radius: 16px;
  width: 100%;
  th{
    text-align: start;
    padding: 12px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  div{
    opacity: 1 !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #171717 !important;
  }
}
tr:first-child th:first-child { border-top-right-radius: 10px; }
tr:first-child th:first-child { border-bottom-right-radius: 10px; }
tr:first-child th:last-child { border-top-right-radius: 10px; }
tr:first-child th:last-child { border-bottom-right-radius: 10px; }