@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
.mainPageContainer{
  height: auto;
  //position: absolute;
  //top: 200px;
  .container{
    padding: 30px 165px 80px 165px;
    height: 100%;
    background-color: #f9f9f9;
    .title{
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 24px;
      font-family:'IBM Plex Sans', sans-serif;;
    }
    .btn_redirect{
      background-color:#FF494D;
      color: #ffffff;
      font-weight: bold;
      border-radius: 16px;
      padding: 12px 24px;
      cursor: pointer;
      &:hover{
        opacity: .6;
      }
    }
    .subtitle{
      margin-top: 10px;
      font-weight: 300;
      font-size: 14px;
      color: rgba(23, 23, 23, 0.8);
    }
    .advert_mobile{
      display: none;
      margin-top: 40px;
      padding: 40px;
      border-radius: 24px;
      box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
      background-color: #fff;
      .block_1{
        flex: 1.5;
        width: 700px;
        height: 214px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 24px;
        }
      }
      .block_2{
        flex: 2;
        .block_title{
          font-family: 'IBM Plex Sans',sans-serif;
          font-weight: 300;
          font-size: 24px;

        }
        .block_description{
          margin-top: 10px;
          font-weight: normal;
          font-size: 16px;
          color: #8F92A1;
        }
        .block_btnContainer{
          .block_btn{
            outline: none;
            background-color: #FF494D;
            color: #ffffff;
            padding: 14px 70px;
            border: none;
            border-radius: 16px;
            margin-top: 40px;
            cursor: pointer;
            &:hover{
              opacity: .8;
            }
          }
        }
      }
    }
    .advert{
      margin-top: 40px;
      padding: 40px;
      border-radius: 24px;
      box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
      background-color: #fff;
      display: flex;
      .block_1{
        flex: 1.5;
        width: 700px;
        height: 214px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 24px;
        }
      }
      .block_2{
        flex: 2;
        margin-left: 50px;
        .block_title{
          font-family: 'IBM Plex Sans',sans-serif;
          font-weight: 300;
          font-size: 24px;

        }
        .block_description{
          margin-top: 10px;
          font-weight: normal;
          font-size: 16px;
          color: #8F92A1;
        }
        .block_btnContainer{
          .block_btn{
            background-color: #FF494D;
            color: #ffffff;
            padding: 14px 70px;
            border: none;
            border-radius: 16px;
            margin-top: 40px;
            cursor: pointer;
            &:hover{
              opacity: .8;
            }
          }
        }
      }
    }
    .service_block{
      .service_title{
        font-weight: bold;
        font-size: 32px;
        width: 100%;
        text-align: center;
        margin: 80px auto 0 auto;
      }
      .service_description{
        width: 100%;
        margin: 12px auto 0 auto;
        color: #8F92A1;
        text-align: center;
      }
      .service_elements{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
      }
      .slider{
        display: none;
        width: 100%;
        overflow: hidden;
      }
      .block{
        width: 340px;
        box-shadow: 0 0 10px 2px rgba(41, 41, 42, 0.07);
        border-radius: 24px;
        .block_pad{
          padding: 30px 24px;
          .block_title{
            color: #FF494D;
            text-align: center;
            font-size: 24px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: bold;
          }
          .block_price{
            margin-top: 5px;
            font-size: 32px;
            font-family: 'IBM Plex Sans', sans-serif;
            text-align: center;
            font-weight: bold;
          }
          .block_price_subtitle{
            margin-top: 5px;
            text-align: center;
            color: #8F92A1;
          }
          .block_btn{
            width: auto;
            background-color: #FF494D;
            text-align: center;
            padding: 14px 30px;
            border-radius: 16px;
            margin-top: 30px;
            color: #ffffff;
            cursor: pointer;
            &:hover{
              opacity: .8;
            }
          }
          .block_data{
            .block_data_el{
              display: flex;
              align-items: center;
              margin-top: 15px;
              .block_img{
                flex: 1;
                width: 40px;
                img{
                  width: 100%;
                }
              }
              .block_data_title{
                flex: 7;
                margin-left: 10px;
                span{
                  font-weight: bold;
                  font-size: 14px;
                }

              }
            }
          }
        }
      }
    }
  }
}
.block_btn_service{
  width: auto;
  background-color: #FF494D;
  text-align: center;
  padding: 14px 30px;
  border-radius: 16px;
  margin-top: 30px;
  color: #ffffff;
  cursor: pointer;
  &:hover{
    opacity: .8;
  }
}
.block_data_desctiption{
  margin-left: 49px;
  color: #8F92A1;
}

@media (max-width: 1024px) {
  .service_title{
    font-size: 24px !important;
  }
  .container {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .service_elements{
    display: none !important;
  }
  .slider{
    display: block !important;
  }
  .block{
    height: 100% !important;
    width: 97% !important;
    margin: auto;
  }
  .block_btn{
    width: 100% !important;
  }
  .service_description{
    width: 100% !important;
    font-size: 16px !important;
  }
  .samyi{
    .left{
      left: 28%;
    }
  }
}
@media (max-width: 760px) {
  .container{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .advert_mobile{
    display: block !important;
    .block_1{
      width: 100% !important;
    }
  }
  .advert{
    display: none !important;
  }
}
@media (max-width: 380px) {
  .left{
    left: 22%;
  }
}