.root{
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 24px;
  padding: 24px;
  flex: 1;
  .head{
    display: flex;
    justify-content: space-between;
    .title{
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #171717;
    }
    .warning{
      .comment{
        cursor: pointer;
      }
    }
  }
  .file_container{
    border: 1px dashed #cccccc;
    width: 100%;
    height: 115px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
      text-align: center;
      .file_select{
        font-size: 14px;
        span{
          color: #FF494D;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .subtitle{
        font-size: 12px;
        color: #8F92A1;
      }
    }
  }
}
.files{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fileName{
  color: #FF494D;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
}
.disabledSpan{
  color: #333333 !important;
}