.header_container{
  height: 102px;
  padding: 0 165px;
  background: linear-gradient(180deg, rgba(245, 56, 56, 0.05) 0%, rgba(245, 56, 56, 0) 100%);
}
.header{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .startHeader{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    .logo{
      cursor: pointer;
    }

  }
  .centerHeader_container {
    display: flex;
    justify-content: center;
    width: 100%;
    .centerHeader {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .headerTitle {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0 15px;

        .headerTitle_logo {
          width: 22px;
          height: 18px;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        .headerTitle_title {
          margin-left: 5px;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          color: #8F92A1;
        }

        .active {
          color: #000000;

          path {
            fill: #000000;
          }
        }
      }
    }
  }
  .endHeader{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .notificationIcon{
      margin-right: 15px;
      img{
        cursor: pointer;
      }
    };
    .profile{
      display: flex;
      align-items: center;
      svg{
        margin-left: 7px;
      }
    }
    .mobile_menu_btn{
      display: none;
    }
  }
}
.modalProfile{
  z-index: 1;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  top: 80px;
  right: -80px;
  .block{
    padding: 24px 28px;
    cursor: pointer;
    span{
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #171717;
    }
    &:hover{
      opacity: .6;
    }
  }
}

.notification_content{
  width: 340px;
  height: 400px;
  overflow-y: scroll;
  .notification{
    .notification_body{
      padding: 20px;
    }
    .notification_item:first-child{
      margin-top: 0;
    }
    .notification_item{
      position: relative;
      margin-top: 10px;
      padding: 10px;
      display: flex;
      border-radius: 16px;
      .img{
        width: 34px;
        height: 34px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .notification_item_content{
        margin-left: 10px;
        .notification_item_message{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #171717;
        }
        .notification_item_date{
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #8F92A1;
        }
      }
    }
    .head{
      padding: 0 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      .title{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #171717;
      }
      .close {
        cursor: pointer;
        width: 22px;
        height: 22px;
        opacity: 0.3;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        top: 20px;
        right: 30px;
        content: ' ';
        height: 23px;
        width: 2px;
        background-color: #333;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 1024px) {
  .centerHeader_container{
    display: none !important;
  }
  .profile{
    display: none !important;
  }
  .mobile_menu_btn{
    display: block !important;
  }
  .header_container{
    padding: 0 50px !important;
  }
}
@media (max-width: 760px) {
  .header_container{
    padding: 0 16px !important;
  }
}