.privacyAgreement_container{
  padding-left: 345px;
  padding-right: 345px;
  padding-bottom: 100px;
  .title{
  }
  .privacy_item{
    p{
      font-weight: 400;
      font-size: 14px;
    }
  }
}

@media (max-width: 1024px) {
  .privacyAgreement_container{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media (max-width: 560px) {
  .privacyAgreement_container{
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}