.modal{
  width: 550px;
  height: 300px;
  .header{
    border-bottom: 1px solid #cccccc;
    .head{
      display: flex;
      padding: 32px 32px;
      .title{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.4px;
        color: #0B132A;
      }
      .close {
        cursor: pointer;
        width: 22px;
        height: 22px;
        opacity: 0.3;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        top: 25px;
        right: 40px;
        content: ' ';
        height: 25px;
        width: 2px;
        background-color: #333;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 20px;
    .btns{
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 30%;
      margin-top: 20px;
      .accessBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        background: #FF494D;
        border-radius: 16px;
        width: 223px;
      }
      .cancelBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #171717;
        background: rgba(143, 146, 161, 0.1);
        border-radius: 16px;
        width: 223px;
      }
    }
  }
}