.slick-track{
    display: flex;
    justify-content: space-around;
}
.slick-slider{
    display: flex;
    flex-direction: column-reverse;
}
.slick-dots{
    text-align: center;
    padding-left: 0;
    margin-bottom: 37px;
}
.slick-dots li{
    width: auto;
    height: auto;
    margin: 0;
    padding: 5px 8px;
    position: relative;
    display: inline-block;
}
.slick-dots li.slick-active button{
    width: 16px !important;
    border-radius: 100px;
    background: #0B132A;
}
.slick-dots li button{
    width: 12px !important;
    height: 12px !important;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 50%;
    transition: all .3s ease;
    font-size: 0;
    background: rgba(23, 23, 23, 0.4);
}
.slick-dots li.slick-active button:before{
    display: none !important;
}
.slick-dots li button:before{
    display: none !important;
}